<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutClient.html}">
<head>
</head>

<body>
	<div class="page" layout:fragment="content">
		<div class="container">
			<div class="banner">
				<a href="/"><img th:src=@{/img/banner.png} alt="" /></a>
			</div>
			<div
				th:replace="/fragments/client/shop/Header.html :: Header"></div>
			<div th:replace="/fragments/client/shop/Navigation.html :: Navigation"></div>
			<div class="content">
				<div class="row">
					<div class="main-prodcut-items-contain row" id="load-product-item">
						<div class="product-item" th:each="product :${products}">
							<a>
								<div class="product-item-detail">
									<div class="product-item-detail-contain">
										<div class="product-item-detail-img">
											<img class="product-item-img" th:src="${product.image}"
												alt="" style="max-height: 204px" />
										</div>
										<div class="product-item-detail-content">
											<span> <img mr="1"
												src="https://media3.scdn.vn/img4/2020/07_30/h6fJaiL5WkEbDU2eQRZb.png"
												alt="shop-badge" class="" /> <span
												style="word-wrap: break-word" th:text="${product.name}">22</span>
											</span>
										</div>
										<div class="product-item-detail-content-price">
											<span
												th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA') + 'đ'}"></span>
										</div>
										<div class="">
											Số lượng: <span th:text="${product.amount}"></span>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
