<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutClient.html}">
<head>
</head>

<body>
	<div class="page" layout:fragment="content">
		<div class="container">
			<div class="banner">
				<a href="/"><img th:src=@{/img/banner.png} alt="" /></a>
			</div>
			<div th:replace="/fragments/client/shop/Header.html :: Header"></div>
			<div
				th:replace="/fragments/client/shop/Navigation.html :: Navigation"></div>
			<div class="content">
				<h3 class="mb-3">Đăng Sản Phẩm</h3>
				<div class="row">
					<div class="col-sm-8" style="background-color: #f2f3f4;">
						<form action="/shop/product/update" method="post"
							id="form-add-product">
							<div class="form-group mt-2 ">
							<input type="text" id="shopName" name="shopName"
									th:value="${product.shopName}" hidden />
								<input type="text" id="id" name="id"
									th:value="${product.id}" hidden />
								<div class="row">
									<div class="col-sm-3">
										<label for="name">Tên Sản phẩm <span
											class="text-danger">*</span>:
										</label>
									</div>
									<div class="col-sm-11">
										<input type="text" id="name" name="name"
											th:value="${product.name}" style="width: 100%;" />
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-solid fa-money-bill"></i><label class="ms-1"
												for="price">Price <span class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-10">
											<input type="number" id="price" name="price"
												th:value="${product.price}" class="form-control" />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-solid fa-arrow-up-wide-short"></i><label
												class="ms-1" for="amount">Amount <span
												class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-10">
											<input type="number" id="amout" name="amount"
												th:value="${product.amount}" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-3">
										<i class="fa-solid fa-image"></i><label class="ms-1"
											for="image">Image <span class="text-danger">*</span>:
										</label>
									</div>
									<div class="col-sm-11">
										<input type="text" id="image" name="image"
											th:value="${product.image}" class="form-control"
											onchange="loadImage()" />
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-9" id="image-product">
										<img alt="" src="">
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-3">
										<i class="fa-solid fa-heading"></i><label class="ms-1"
											for="title">Title <span class="text-danger">*</span>:
										</label>
									</div>
									<div class="col-sm-11">
										<input type="text" id="title" name="productDetail.title"
											th:value="${product.productDetail.title}"
											class="form-control" />
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-3">
										<i class="fa-solid fa-t"></i><label class="ms-1"
											for="description">Description <span
											class="text-danger">*</span>:
										</label>
									</div>
									<div class="col-sm-11">
										<input id="description" name="productDetail.description"
											type="text" th:value="${product.productDetail.description}"
											class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-solid fa-object-ungroup"></i><label class="ms-1"
												for="material">Material <span class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-9">
											<input type="text" id="material"
												name="productDetail.material" class="form-control"
												th:value="${product.productDetail.material}" />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-solid fa-location-dot"></i><label class="ms-1"
												for="origin">Origin <span class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-9">
											<input type="text" id="origin" name="productDetail.origin"
												class="form-control"
												th:value="${product.productDetail.origin}" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-sharp fa-solid fa-scale-balanced"></i><label
												class="ms-1" for="size">Size <span
												class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-9">
											<input type="text" id="size" name="productDetail.size"
												th:value="${product.productDetail.size}"
												class="form-control" placeholder="Nhập kích thước sản phẩm" />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="col-sm-3">
											<i class="fa-solid fa-brush"></i><label class="ms-1"
												for="color">Color <span class="text-danger">*</span>:
											</label>
										</div>
										<div class="col-sm-9">
											<input type="text" id="color" name="productDetail.color"
												th:value="${product.productDetail.color}"
												class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-2">
										<label for="category">Category</label>
									</div>
									<div class="col-sm-9">
										<select name="category"
											onchange="onChangeCategory(this.value)" id="select-category"
											class="form-control">
											<th:block th:each="category, index : ${categories}">
												<option th:if="${!category.deleteStatus}"
													th:text="${category.name}"></option>
											</th:block>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<div class="row">
									<div class="col-sm-2">
										<label for="sub-categories">Sub Category</label>
									</div>
									<div class="col-sm-9">
										<select name="subCategory" id="wait-load-by-category"
											class="form-control">
											<option value=""></option>
										</select>
									</div>
								</div>
							</div>
							<button type="submit" style="margin-left: 45%;"
								class="btn btn-primary mb-2 mt-2">Đăng</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src=@{/js/client/handlerShop.js} th:inline="javascript"
	layout:fragment="jsCode"></script>
</html>
